body {
  background-color: rgb(210, 210, 128);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 36px;
  text-align: center;
}

.options-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.option {
  font-size: 24px;
  padding: 20px;
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.selected {
  background-color: green;
  color: white;
}

.diet-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.diet-option {
  font-size: 24px;
  padding: 20px;
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.diet-option.selected {
  background-color: green;
  color: white;
}
